<head>
	<br>
	<br>
</head>
<div class="container-fluid">
	<div class="about-div">
	<br>
	<br>
	<br>
	<p>about</p>
	<br>
	<br>
	<br>
	</div>
</div>
<br>
<p class="p-width">The Pyjama Shop was created to give you access to the best and widest selection of pyjamas worldwide! Go to sleep in style and comfort with pyjamas from our extensive range.</p>
