<!--<head>
	<br>
	<br>
</head>
<div class="container-fluid">
	<div class="about-div">

	<p class="section-heading">about</p>
	
	</div>
</div>
<br>-->

<h2 class="sign-in">About</h2>

<p class="p-width about-text">If you've ever been to South Vietnam, you'll see pyjamas everywhere. On women, children and even men. The 'ao ba ba' is a traditional silk shirt with (normally matching) pants. These days, it is common to see the ao ba ba in cotton and modern styles. The outfit is comfortable and light and can be worn all day, whether it's going to work, running errands, lounging around the house and of course, going to sleep.</p>
<br>
<p class="p-width about-text">The Pyjama Shop was created to give you access to the latest range of pyjamas straight from the streets of Vietnam.</p>

