<table>
  <tbody>
    <h1>Welcome to The Pyjama Shop!</h1>
    <p>
      You have successfully signed up with the username: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', new_user_session_url %>.
    </p>
    <p>Thanks for joining and enjoy shopping!</p>
  </tbody>
</table>