html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 40px;
}

h1 {
	color: #4D7EB0;
	font-family: Dosis;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

h2 {
	color: gray;
	text-align: center;
	font-family: Dosis;
	font-size: 1.5em;
}

h3 {
	color: #BA227B;
	font-family: Dosis;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}

a {
	font-family: Dosis;
}

a:hover {
	text-decoration: none;
}
p {
	color: gray;
	text-align: center;
	font-family: Dosis;
	font-size: 1em;
	letter-spacing: .1em;	
}

nav {
	background-color: white;
	width: 100%;
}

.navbar ul li {
	font-family: Dosis;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 10px 2px 10px;
	letter-spacing: .2em;
	color: #4D7EB0;
}

#nav-links li a {
	color: #4D7EB0;
}

#nav-links li a:hover {
	color: black;
}

#nav-links #pyjama-shop a {
	color: black;
}

.navbar {
	background-color: white;
	border: none;

}

.navbar-toggle {
	background-color: #CFDBE6;
	border: none;
}

.container {
	background-color: white;
}

.collapse, .navbar-collapse {
	background-color: white;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}

footer p {
	color: #BA227B;
	font-family: "Playfair Display";
	margin-top: 20px;
}

label {
	font-weight: normal !important;
}
