#customButton {
	border: none;
	background-color: #4D7EB0;
	color: white;
	font-family: Dosis;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 5px 25px 5px 25px;
}

