#landing-images {
	margin: 0 auto;
}

#landing-images img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.worldwide {
	font-family: Dosis;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.6em; 
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: .8px;
}

#pyjama-shop a {
	color: black;
	font-family: "Playfair Display";
	font-weight: bold;
	margin-right: 60px;
	float: left;
	font-size: 1.8em;
}

.carousel {
	width: 20%;
	margin: 0 auto;
}

.p-width {
	width: 70%;
	margin: 0 auto;
}

.about-text {
	text-align: justify; 
}

.sale-div, {
	background-color: #f0f4f8;
	margin-bottom: 20px;
}

.sale-now {
	font-family: "Playfair Display";
	font-size: 2.4em;
	color: #4D7EB0;
	padding-top: 30px;
	padding-bottom: 20px;
}

.sale-price {
	font-family: "Playfair Display";
	font-size: 4em;
	font-style: bold;
	color: #4D7EB0;
	padding-bottom: 50px;
}

.about-div {
	background-image: url("https://weirdwonderfulvietnam.files.wordpress.com/2014/07/p1120259.jpg"); 
	margin-bottom: 20px;
	margin: 0 auto;
}

.promo-div, {
	background-color: #f0f4f8;
	margin-bottom: 20px;
	margin-top: 40px;
}

.promo-25off {
	font-family: "Playfair Display";
	font-size: 6em;
	font-style: bold;
	color: #BA227B;
	text-transform: uppercase;
	letter-spacing: .8px;
	padding-top: 15px;
	padding-bottom: 5px;
}

.promo-all {
	font-family: "Playfair Display";
	font-size: 4em;
	font-style: bold;
	color: #BA227B;;
	text-transform: uppercase;
	letter-spacing: .8px;
}

.shop-button {
	text-align: center;
	margin: 0 auto;
	border: none;
	padding-top: 30px;
}

.shop {
	border: none;
	background-color: #CFDBE6;
	font-family: Dosis;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 5px 25px 5px 25px;
}

.shop a {
	letter-spacing: .1em;
	color: black;
}

.shop a:hover {
	letter-spacing: .1em;
	color: #4D7EB0;
	text-decoration: none;
	background-color: #CFDBE6;
}

.section-heading {
	padding-top: 70px;
	padding-bottom: 70px;
}

.mtop10 {
	margin-top: 10px;

}

.show-form p {
	text-align: left;
	color: grey;
}

.clear {
	clear: both;
}

.carousel-inner > .item > img {
	width: 100%;
	//height: 400px;
}

#contact-row {
	padding-top: 40px;
	width: 60%;
	margin: 0 auto;
}

#submit-msg,
#log-in,
#sign-up,
#password-reset,
#update-user {
	border:none;
	background-color: #CFDBE6;
	font-family: Dosis;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 5px 25px 5px 25px;
	letter-spacing: .1em;
	color: black;
	text-transform: uppercase;
}

#submit-msg:hover,
#log-in:hover,
#sign-up:hover,
#password-reset:hover,
#update-user:hover {
	color: #4D7EB0;
	text-decoration: none;
}

.input-group {
	position: relative;
	width: 270px;
	float: right;
	margin-right: 14px;
	margin-top: 0;
	margin-bottom: 18px;
}

.btn {
	background-color: #CFDBE6;
}

.glyphicon:hover {
	color: #4D7EB0;	
}

.panel {
	border: none;
	margin: auto;
	width: 60%;

}

#read-reviews,
#write-review {
	background-color: #f0f4f8;
}

.panel-body {
	border: none;
	background-color: white;
	color: black;
}

.search-query,
.form-group {
	color: gray;
	font-family: Dosis;
	font-size: 1.2em;
	text-transform: lowercase;
}
