h1 {
	color: #CB79E8;
	font-family: Helvetica;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: .3em;
}

.pyjama-shop {
	color: #CB79E8;
	font-family: Garamond;
	font-weight: bold;
	margin-right: 60px;
	float: left;
	font-size: 1.5em;
}
.pyjama-shop a:hover {
	color: #CB79E8;
}

h2 {
	color: gray;
	text-align: center;
	font-family: Helvetica;
	font-size: 1.5em;
	font-style: italic;
}

h3 {
	color: #79CCE8;
	font-family: Helvetica;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}

p {
	color: gray;
	text-align: center;
	font-family: Helvetica;
	font-size: 1.2em;
}

nav {
	background-color: white;
	width: 100%;
}


nav ul li {
	color: grey;
	font-family: Helvetica;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	letter-spacing: .3em;
	float: right;
}

nav ul li a:hover {
	color: #79CCE8;
	text-decoration: none;
	
}

footer {
	width: 100%;
}
footer p {
	color: #79CCE8;
	bottom: 0px;
	font-family: Garamond;
	position: fixed;
	margin: 0 auto;
	text-align: center;
	width: 100%
}

.banana-image {
	padding-top: 20px;
	margin: 0 auto;
	display: block;
}

