.field {
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #4D7EB0;
	font-family: Dosis;
	font-size: 1em;
}

.actions {
	border: none;
	font-family: Dosis;
}

.devise-links {
	text-align: center;
	color: grey;
}

.devise-links a:hover {
	background-color: white;
	text-decoration: none;
	color: black;
}

.sign-in {
	font-family: "Playfair Display";
	text-transform: uppercase;
	padding-top: 80px;
	padding-bottom: 20px;
}

.login {
	text-align: center;
}

.login-field {
	padding-bottom: 15px;
}

.width300 {
	width: 300px;
}