// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field {
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #4D7EB0;
	font-family: Helvetica;
	font-size: 1em;

}

.actions {
	border: none;
	font-family: Helvetica;
	
}

.devise-links {
	text-align: center;
	color: grey;
}

.devise-links a:hover {
	background-color: white;
	text-decoration: none;
	color: black;
}

.sign-in {
	font-family: Futura;
	text-transform: uppercase;
	padding-top: 80px;
	padding-bottom: 20px;
}

.login {
	text-align: center;
}

.login-field {
	padding-bottom: 15px;
}