<div class="review-div">
	<% if signed_in? %>
	<div class="add-review-div"><h4 class="add-review">Add a review:</h4></div>
	<%= form_for([@product, @product.comments.build], remote: true) do |f| %>
		<p>
			<div class="rating"></div>
		</p>
		<p>
			<%= f.text_area :body, class: "comment-box" %>
		</p>
		
		<p>
			<%= f.submit "Submit" %>
		</p>
	<% end %>
	<% end %>
</div>